body{
    padding: 0;
    margin: 0;
    background-color: #ebebeb;
}
nav{
    background-color: #222;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#brand{
    color: white;
    font-family: "Raleway";
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
}
nav ul{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    /* margin: auto 0 auto auto; */
}
nav a{
    padding: 15px 20px;
    font-family: Raleway;
    font-style: italic;
    font-size: 1.3rem;
    color: #e1e1e1;
    text-decoration: none;
    display: inline-block;
}
nav a:hover{
    background-color: #000;
    color: white;
}
.container{
    text-align: center;
    font-family: Raleway;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: 50;
    margin: 20px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
}
#greet{
    font-size: 3rem;
}